:root{
    --primary-color: #00D8C6;
}
body{
    margin: 0px;
    padding: 0px;
}
@font-face{
    font-family: 'SofiaPro-Black';
    src: url(../fonts/SofiaPro-Black/SofiaPro-Black.ttf);
    font-weight: 100;
}
@font-face{
    font-family: 'SofiaPro-Light';
    src: url(../fonts/sofiapro-light.otf);
    font-weight: 100;
}
@font-face{
    font-family: 'SofiaPro-Medium';
    src: url(../fonts/SofiaPro-Medium.ttf);
    font-weight: 100;
}
h1,h2,h3,h6{
    font-family: SofiaPro-Black;
}
h4,h5{
    font-family: SofiaPro-Medium;
}
p{
    font-family: SofiaPro-Light;
}
a{
    text-decoration: none;
    font-family: SofiaPro-Medium;
}
a:hover{
    color: white;
    text-decoration: none;
}
section{
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
}
ul li{
    list-style-type: none;
}
input{
    font-family: SofiaPro-Light;
}
span{
    font-family: SofiaPro-Light !important;
}
textarea{
    width: 71%;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
